
{% include ('base.html.twig') %}
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    {% block body %}

        {#<body class="tg-home tg-login">#}
        <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div id="tg-wrapper" class="tg-wrapper tg-haslayout">
            {{ render(controller('AppBundle:Default:header')) }}

            <!--************************************
                Main Start
        *************************************-->
            <main id="tg-main" class="tg-main tg-haslayout">
                <div class="container">
                    <div class="row">
                        <div id="tg-content" class="tg-content tg-dashboard">
                            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 pull-left">
                                <div class="tg-widgetdashboard">
                                    <div class="tg-widgetprofile">
                                        <figure class="tg-directpostimg"> <a href="#"><img src="{{ asset('assets/images/thumbnails/img-20.jpg') }}" alt="image description"></a>
                                            {% if app.user.verifier == 1 %}
                                                <figcaption>
                                                    <a class="tg-usericon tg-iconvarified" href="#">
                                                        <em class="tg-usericonholder">
                                                            <i class="fa fa-shield"></i>
                                                            <span>{{ 'verified'|trans }}</span>
                                                        </em>
                                                    </a>
                                                </figcaption>
                                            {% endif %}
                                        </figure>
                                        <div class="tg-directposthead">
                                            <h3><a href="#">Dr. {{ doctor.firstName }} {{ doctor.lastName }}</a></h3>
                                            <div class="tg-subjects"></div>
                                            <ul class="tg-metadata">
                                                <li><span class="tg-stars"><span></span></span></li>
                                                <li><a href="#"><i class="fa fa-thumbs-o-up"></i> 99% (1009 votes)</a></li>
                                            </ul>
                                        </div>
                                        <a class="tg-btn tg-btn-lg" href="{{ path('user_profil', {'id': app.user.id }) }}">{{ 'Profile'|trans }}</a> </div>
                                    {% include('profilDoctorNav.html.twig') %}
                                </div>
                            </div>
                            <div class="col-lg-9 col-md-8 col-sm-8 col-xs-12 pull-right">
                                <h3>Vos Patients</h3>
                                    {% if dp|length != 0 %}
                                      <table>
                                          <thead>
                                            <tr>
                                              <th>#</th>
                                              <th>Nom du Patient</th>
                                              <th>Commentaire</th>
                                              <th>Statut</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            {% set count = 1 %}
                                            {% for item in dp %}
                                            <tr>
                                              <td>{{ count }}</td>
                                              <td>{{ item.patient.firstname }} {{ item.patient.lastname }}</td>
                                              <td>{% if item.review == "" %} <label class="label label-warning">Review not given</label> {% else %} {{ item.review }} {% endif %} </td>
                                              <td> <a href="{{ path('patient_doctor_display_changestatus') }}?id={{ item.id }}">{% if item.block == 1 %}unblock{% else %}block{% endif %}</a></td>
                                            </tr>
                                            {% set count = count + 1 %}
                                            {% endfor %}

                                          </tbody>
                                      </table>

                                    {% endif %}

                            </div>
                        </div>
                    </div>
                </div>
        </div>
        </main>


        {% include ('default/footer.html.twig') %}
    {% endblock %}
{% endif %}
