{% include ('base.html.twig') %}
{% block body %}
<body class="tg-home tg-login">
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<!--************************************
        Preloader Start
*************************************
<div class="preloader-outer">
    <div class="pin"></div>
    <div class="pulse"></div>
</div>
<!--************************************
        Preloader End
*************************************-->

<!--************************************
        Wrapper Start
*************************************-->
<div id="tg-wrapper" class="tg-wrapper tg-haslayout">
    {{ render(controller('AppBundle:Default:header')) }}

    <!--************************************
            Main Start
    *************************************-->
    <main id="tg-main" class="tg-main tg-haslayout">
        <div class="container">
            <div class="row">
                <div id="tg-content" class="tg-content tg-dashboard">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 pull-left">
                        <div class="tg-widgetdashboard">
                            <div class="tg-widgetprofile">
                                <figure class="tg-directpostimg">
                                    {% if vich_uploader_asset(doctor, 'imageFile') %}
                                        <a href="#">
                                            <img src="{{ vich_uploader_asset(doctor, 'imageFile') }}" alt="{{ doctor.image }}" />
                                        </a>
                                    {% else %}
                                        <a href="#">
                                            <img src="{{ asset('assets/images/thumbnails/img-20.jpg') }}" alt="image description">
                                        </a>
                                    {% endif %}
                                    {% if app.user.verifier == 1 %}
                                        <figcaption>
                                            <a class="tg-usericon tg-iconvarified" href="#">
                                                <em class="tg-usericonholder">
                                                    <i class="fa fa-shield"></i>
                                                    <span>{{ 'verified'|trans }}</span>
                                                </em>
                                            </a>
                                        </figcaption>
                                    {% endif %}
                                </figure>
                                <div class="tg-directposthead">
                                    <h3><a href="#">Dr. {{ doctor.firstName }} {{ doctor.lastName }}</a></h3>
                                    <div class="tg-subjects"></div>
                                    <ul class="tg-metadata">
                                        <li><span class="tg-stars"><span></span></span></li>
                                        <li><a href="#"><i class="fa fa-thumbs-o-up"></i> 99% (1009 votes)</a></li>
                                    </ul>
                                </div>
                                <a class="tg-btn tg-btn-lg" href="{{ path('user_profil', {'id': app.user.id }) }}">{{ 'Profile'|trans }}</a> </div>
                            {% include('profilDoctorNav.html.twig') %}
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-8 col-sm-8 col-xs-12 pull-right">
                        <div class="tg-dashboardjobslocations">
                            <div class="tg-dashboardbox">
                               <h4>New Comments</h4>
                                <form id="commentform" method="POST" action="{{ path('doctors_comments_edit',{'comment' : comment.id}) }}">
                                    <input type="hidden" value="{{ comment.location.id }}">
                                    <label id="comment">Enter Comment on this location</label>
                                    <textarea name="commentname" id="comment" class="form-control">{{ comment.comment }}</textarea>
                                    <input type="submit" value="Edit Comment" class="btn btn-success pull-right" style="margin-top: 20px">
                                </form>
                                <script>
                                    $('#commentform').submit(function(e){
                                        if($('#comment').html() == ""){
                                            alert('Enter Some Comment');
                                            e.preventDefault();
                                        }
                                    });
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!--************************************
            Main End
    *************************************-->

</div>
<!--************************************
        Wrapper End
*************************************-->
{% include ('default/footer.html.twig') %}
{% block addLocationModal %}
    <!--************************************
            Light Box Start
*************************************-->
    {#<div class="modal tg-modal tg-appointmentlightbox fade" id="showMap" tabindex="-1" role="dialog">
        <div class="modal-dialog tg-modaldialog">
            <div class="modal-content tg-modalcontent">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
                <h2 id="locationName"></h2>
                <div id="result">

                </div>
            </div>
        </div>
    </div>
    <div class="modal tg-modal tg-appointmentlightbox fade" id="editLocation" tabindex="-1" role="dialog">
        <div class="modal-dialog tg-modaldialog">
            <div class="modal-content tg-modalcontent">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
                <h2 id="locationName"></h2>
                <div id="formEdit">

                </div>
            </div>
        </div>
    </div>
    #}<!--************************************
                Light Box End
    *************************************-->
{% endblock %}

{#<script>

    $(document).ready(function () {

        $(".showMap").click(function () {
            var location = $(this).attr('id');
            var URL = "{{ path('locations_show',{ 'id': 'myID' }) }}";
            URL = URL.replace(/myID/g, location);
            console.log(URL);
            $.ajax({
                type: "GET",
                url: URL,
                cache: false,
                success: function (response) {
                    $('#result').html(response);
                    return true;
                }
            });
        });

        $(".editLocation").click(function () {
            var location = $(this).attr('id');
            var URL = "{{ path('locations_edit',{ 'id': 'myID' }) }}";
            URL = URL.replace(/myID/g, location);
            console.log(URL);
            $.ajax({
                type: "GET",
                url: URL,
                cache: false,
                success: function (response) {
                    $('#formEdit').html(response);
                    return true;
                }
            });
        });
        $(".deleteLocation").click(function () {
            if (!confirm('Vous voulez vraiment supprime cette job location')) return false;
            var locations = $(this).attr('id');
            var URL = "{{ path('locations_delete',{ 'id': 'myID' }) }}";
            URL = URL.replace(/myID/g, locations);
            console.log(URL);
            $.ajax({
                type: "GET",
                url: URL,
                cache: false,
                success: function (response) {
                    if (response == 'erreur') {
                        $('#divErreur').show();
                        return true;
                    }
                    location.reload();
                    return true;
                }
            });
        });
    });
</script>#}
{% endblock %}
