{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ 'Social information'|trans }}</h1>

    <table>
        <tbody>
            <tr>
                <th>{{ 'Id'|trans }}</th>
                <td>{{ socialInformation.id }}</td>
            </tr>
            <tr>
                <th>Facebook</th>
                <td>{{ socialInformation.facebook }}</td>
            </tr>
            <tr>
                <th>Twitter</th>
                <td>{{ socialInformation.twitter }}</td>
            </tr>
            <tr>
                <th>Linkedin</th>
                <td>{{ socialInformation.linkedin }}</td>
            </tr>
            <tr>
                <th>Youtube</th>
                <td>{{ socialInformation.youtube }}</td>
            </tr>
            <tr>
                <th>Google plus</th>
                <td>{{ socialInformation.googlePlus }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('socialinformation_index') }}">{{ 'Back to the list'|trans }}</a>
        </li>
        <li>
            <a href="{{ path('socialinformation_edit', { 'id': socialInformation.id }) }}">{{ 'edit'|trans }}</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
