<nav id="tg-dashboardnav" class="tg-dashboardnav">
    <ul>
        <li> <a href="{{ path('appointments_appointmentsByUser', {'success':'no'}) }}"> <i class="fa fa-calendar-check-o"></i> <span>{{ 'My Appointements'|trans }}</span> </a> </li>
        <li> <a href="{{ path('doctor_managment_display') }}"> <i class="fa fa-user"></i> <span>{{ 'Doctor Management'|trans }}</span> </a> </li>
        <li> <a href="#"> <i class="fa fa-user"></i> <span>{{ 'Profile Settings'|trans }}</span> </a> </li>

    </ul>
</nav>
