<!--************************************
				Footer Start
		*************************************-->
<footer id="tg-footer" class="tg-footer tg-haslayout">
    <div class="tg-subscribe">
        <div class="container">
            <div class="row">
                <div class="tg-fcols">
                    <div class="col-sm-3">

                    </div>
                    <div class="col-sm-9">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tg-quicklinks">
        <div class="container">
            <div class="row">
                <div class="tg-fcols">
                    <div class="tg-fcol">
                        <strong class="tg-logo">
                            <a href="index.html"><img src="{{ asset('assets/images/logo.png') }}" alt="image description"></a>
                        </strong>
                        <ul class="tg-contactinfo">
                            <li><a href="#"><i class="fa fa-location-arrow"></i><address>Consectetur aelit 2456, AC1255 Manchester, UK</address></a></li>
                            <li><a href="#"><i class="fa fa-phone"></i><span>+33 06 50 25 25 25</span></a></li>
                            <li><a href="#"><i class="fa fa-envelope-o"></i><span>contact@e-zeedoc.com</span></a></li>
                            <li><a href="#"><i class="fa fa-fax"></i><span>+33 06 45 45 45 45</span></a></li>
                        </ul>
                        <ul class="tg-socialsharewithtext">
                            <li class="tg-facebook">
                                <a class="tg-roundicontext" href="#">
                                    <em class="tg-usericonholder">
                                        <i class="fa fa-facebook-f"></i>
                                        <span>{{ 'share on facebook'|trans }}</span>
                                    </em>
                                </a>
                            </li>
                            <li class="tg-twitter">
                                <a class="tg-roundicontext" href="#">
                                    <em class="tg-usericonholder">
                                        <i class="fa fa-twitter"></i>
                                        <span>{{ 'share on twitter'|trans }}</span>
                                    </em>
                                </a>
                            </li>
                            <li class="tg-linkedin">
                                <a class="tg-roundicontext" href="#">
                                    <em class="tg-usericonholder">
                                        <i class="fa fa-linkedin"></i>
                                        <span>{{ 'share on linkdin'|trans }}</span>
                                    </em>
                                </a>
                            </li>
                            <li class="tg-googleplus">
                                <a class="tg-roundicontext" href="#">
                                    <em class="tg-usericonholder">
                                        <i class="fa fa-google-plus"></i>
                                        <span>{{ 'share on google'|trans }}</span>
                                    </em>
                                </a>
                            </li>
                            <li class="tg-rss">
                                <a class="tg-roundicontext" href="#">
                                    <em class="tg-usericonholder">
                                        <i class="fa fa-rss"></i>
                                        <span>{{ 'share on RSS'|trans }}</span>
                                    </em>
                                </a>
                            </li>
                            <li class="tg-youtube">
                                <a class="tg-roundicontext" href="#">
                                    <em class="tg-usericonholder">
                                        <i class="fa fa-youtube-play"></i>
                                        <span>{{ 'share on YouTube'|trans }}</span>
                                    </em>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="tg-fcol tg-specialities">
                        <div class="tg-title">
                            <h3>{{ 'Top Specialities'|trans }}</h3>
                        </div>
                        <ul>
                            <li><a href="#">Arnos Grove</a></li>
                            <li><a href="#">Dalston</a></li>
                            <li><a href="#">Balham</a></li>
                            <li><a href="#">Denmark Hill</a></li>
                            <li><a href="#">Barkingside</a></li>
                            <li><a href="#">Derry Downs</a></li>
                            <li><a href="#">Barnes Cray</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">East Bedfont</a></li>
                            <li><a href="#">Camden Town</a></li>
                            <li><a href="#">Eden Park</a></li>
                            <li><a href="#">Canonbury</a></li>
                            <li><a href="#">{{ 'View All'|trans }}</a></li>
                        </ul>
                    </div>
                    <div class="tg-fcol tg-latestlistings">
                        <div class="tg-title">
                            <h3>{{ 'Latest Listings'|trans }}</h3>
                        </div>
                        <ul>
                            <li>
                                <figure class="tg-authordp">
                                    <img src="{{ asset('assets/images/directpost/img-08.jpg') }}" alt="image description">
                                </figure>
                                <div class="tg-directposthead">
                                    <h3><a href="#">Dr. David Pujol</a></h3>
                                    <div class="tg-subjects">MDS - Pédiatre &amp; Dentiste</div>
                                </div>
                            </li>
                            <li>
                                <figure class="tg-authordp">
                                    <img src="{{ asset('assets/images/directpost/img-09.jpg') }}" alt="image description">
                                </figure>
                                <div class="tg-directposthead">
                                    <h3><a href="#">Dr. David Pujol</a></h3>
                                    <div class="tg-subjects">MDS - Pédiatre &amp; Dentiste</div>
                                </div>
                            </li>
                            <li>
                                <figure class="tg-authordp">
                                    <img src="{{ asset('assets/images/directpost/img-10.jpg') }}" alt="image description">
                                </figure>
                                <div class="tg-directposthead">
                                    <h3><a href="#">Dr. David Pujol</a></h3>
                                    <div class="tg-subjects">MDS - Pédiatre &amp; Dentiste</div>
                                </div>
                            </li>
                        </ul>
                        <a class="tg-btnviewmore" href="javascript:void(0);">{{ 'View All'|trans }} <i class="fa fa-angle-double-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tg-footerbar">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <nav id="tg-footernav" class="tg-footernav">
                        <ul>
                            <li class="tg-active"><a href="">{{ 'Home'|trans }}</a></li>
                            <li><a href="">{{ 'About'|trans }}</a></li>
                            <li><a href="">{{ 'How It Works'|trans }}?</a></li>
                            <li><a href="">{{ 'Categories'|trans }}</a></li>
                        </ul>
                    </nav>
                    <span class="tg-copyright">2017 All Rights Reserved &copy; <a href="#">Frontonis</a></span>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--************************************
        Footer End
*************************************-->