<!--************************************
                                Header Start
                *************************************-->
<header id="tg-header" class="tg-header tg-haslayout">
    <div class="tg-topbar">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12">
                    <span class="tg-quickadvice">Obtenez un conseil rapide: <strong>(+33) 05 25 25 25 25</strong></span>
                    <ul class="tg-contactinfo">
                        <li><a href="#">contact@e-zeedoc.com</a></li>
                        <li><address>12 rue des 31100 Toulouse</address></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <strong class="tg-logo">
                    <a href="{{ path('homepage') }}">
                        <img src="{{ asset('assets/images/logo.png') }}" alt="image description">
                    </a>
                </strong>
                <div class="tg-navigationarea">
                    <nav id="tg-nav" class="tg-nav">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#tg-navigation" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div id="tg-navigation" class="tg-navigation collapse navbar-collapse">
                            <ul>
                                <li class="tg-hasdropdown">
                                    <a href="#">{{ 'Categories'|trans}}</a>
                                    <ul class="tg-dropdownmenu">
                                        <li><a href="{{ url('doctor_search', {mots:'medecins'}|merge(app.request.query.all)) }}">{{ 'Doctors'|trans }}</a></li>
                                        <li><a href="{{ url('doctor_search', {mots:'hopitaux'}|merge(app.request.query.all)) }}">{{ 'Hospitals'|trans }}</a></li>
                                        <li><a href="{{ url('doctor_search', {mots:'dentiste'}|merge(app.request.query.all)) }}">Dentiste</a></li>
                                        <li><a href="{{ url('doctor_search', {mots:'Oreille_Nez_Gorge'}|merge(app.request.query.all)) }}">Oreille-Nez-Gorge</a></li>
                                        <li><a href="{{ url('doctor_search', {mots:'Gastro_Enterologue'}|merge(app.request.query.all)) }}">Gastro-Entérologue</a></li>
                                        <li><a href="{{ url('doctor_search', {mots:'Psychiatre'}|merge(app.request.query.all)) }}">Psychiatre</a></li>
                                        <li><a href="{{ url('doctor_search', {mots:'Urologue'}|merge(app.request.query.all)) }}">Urologue</a></li>
                                        <li><a href="{{ url('doctor_search', {mots:'Homeopathe'}|merge(app.request.query.all)) }}">Homéopathe</a></li>
                                        <li><a href="{{ url('doctor_search', {mots:'Ophtalmologue'}|merge(app.request.query.all)) }}">Ophtalmologue</a></li>
                                        <li><a href="{{ url('doctor_search', {mots:'Medecin_Generaliste'}|merge(app.request.query.all)) }}">Médecin Généraliste</a></li>
                                        <li><a href="{{ url('doctor_search', {mots:'Neurologue'}|merge(app.request.query.all)) }}">Neurologue</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">{{ 'About'|trans }}</a></li>
                                <li><a href="#">{{ 'How It Works'|trans }}?</a></li>
                                <li class="tg-hasdropdown">

                                </li>
                            </ul>
                        </div>
                    </nav>
                    {% if is_granted('ROLE_PATIENT') or is_granted('ROLE_DOCTOR') %}
                        <div class="tg-admin">
                            <div class="tg-user">
                                <div class="tg-dropdown">
                                    <figure class="tg-adminpic">

                                        {% if is_granted('ROLE_PATIENT') %}
                                            {% if vich_uploader_asset(patientH, 'imageFile') %}
                                                <a href="#">
                                                    <img src="{{ vich_uploader_asset(patientH, 'imageFile') }}" alt="{{ patientH.image }}" />
                                                </a>
                                            {% else %}
                                                {# pppic patient #}
                                                <a href="#">
                                                    <img src="{{ asset('assets/images/user.svg') }}" alt="">
                                                </a>
                                            {% endif %}
                                        {% elseif is_granted('ROLE_DOCTOR') %}
                                            {% if vich_uploader_asset(doctorH, 'imageFile') %}
                                                <a href="#">
                                                    <img src="{{ vich_uploader_asset(doctorH, 'imageFile') }}" alt="{{ doctorH.image }}" />
                                                </a>
                                            {% else %}
                                                {# pppic doctor #}
                                                <a href="#">
                                                    <img src="{{ asset('assets/images/user.svg') }}" alt="">
                                                </a>
                                            {% endif %}
                                        {% endif %}

                                    </figure>
                                    <a href="javascript:void(0);" class="tg-usermenu tg-btndropdown">
                                        {% if is_granted('ROLE_PATIENT') %}
                                            <em>{% if not (app.user is null)%} {{ render(controller('UserBundle:User:getPatientName', { 'id': app.user.idTable })) }} {% endif %}</em>

                                        {% elseif is_granted('ROLE_DOCTOR') %}
                                            <em>{% if not (app.user is null)%} {{ render(controller('UserBundle:User:getDoctorName', { 'id': app.user.idTable })) }} {% endif %}</em>

                                        {% endif %}
                                    </a>
                                    <div class="dropdown-menu tg-dropdownbox tg-usermenu">
                                        <ul>
                                            {% if is_granted('ROLE_PATIENT') %}
                                                <li>
                                                    <a href="{{ path('patient_profil', {'id': app.user.id }) }}">
                                                        <i class="fa fa-user"></i>
                                                        <span>{{ 'Profile'|trans }}</span>
                                                    </a>
                                                </li>
                                            {% elseif is_granted('ROLE_DOCTOR') %}
                                                <li>
                                                    <a href="{{ path('user_profil', {'id': app.user.id }) }}">
                                                        <i class="fa fa-user"></i>
                                                        <span>{{ 'Profile'|trans }}</span>
                                                    </a>
                                                </li>
                                            {% endif %}
                                            <li>
                                                <a href="{{ path('fos_user_security_logout') }}">
                                                    <i class="fa fa-sign-out"></i>
                                                    <span>Déconnexion</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <button type="button" class="tg-btn" data-toggle="modal" data-target="#loginModal">Se connecter</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>
<!--************************************
        Header End
*************************************-->


<!--************************************
        Login modal start
*************************************-->

<div class="modal tg-modal loginModal fade" id="loginModal" tabindex="-1" role="dialog">
    <div class="modal-dialog tg-modaldialog">
        <div class="modal-content tg-modalcontent">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
            <h2>Connectez-vous ou créez un compte</h2>
            <fieldset class="tg-formstepone tg-current">
                {{ render(controller('UserBundle:User:login')) }}
            </fieldset>
            <fieldset class="tg-formsteptwo">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <a href="{{ path('doctors_new') }}" style="text-decoration: none">
                            <div class="tg-profilewidget tg-recommendation">
                                <span class="tg-profilewidgeticon">
                                    <img src="{{ asset('assets/images/physician-icon-png-10.png') }}" alt="image description">
                                </span>
                                <div class="tg-percentage">
                                    {{ 'Doctors account'|trans }}</span>
                                </div>
                                <hr>
                                <div class="tg-description">
                                    <p><b>Lorem ipsum dolor sit amet, consectetur adipiscing elit </b>  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <a href="{{ path('patient_new') }}" style="text-decoration: none">
                            <div class="tg-profilewidget tg-recommendation">
                                <span class="tg-profilewidgeticon">
                                    <img src="{{ asset('assets/images/Icons-Land-Medical-People-Patient-Male.ico') }}" alt="image description">
                                </span>
                                <div class="tg-percentage">
                                    <span>{{ 'Patient account'|trans }}</span>
                                </div>
                                <hr>
                                <div class="tg-description">
                                    <p><b>Lorem ipsum dolor sit amet, consectetur adipiscing elit </b>  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</div>
<!--************************************
        Login modal End
*************************************-->