{% extends "::admin.html.twig" %}

{% block title %}Admin: Weekends{% endblock %}

{% block body %}

    <section class="content-header">
        <h1>
            Weekends
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Accueil</a></li>
            <li class="active">Weekends</li>
        </ol>
    </section>

    <section class="content">


        <!-- Main row -->
        <div class="row">
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <a class="label label-info" href="{{ path('admin_holiday_index_weekend_add') }}"><span class="fa fa-plus-circle"></span> Créer une journée de week-end</a>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                            </button>
                            {#<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>#}
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="table-responsive">
                            <table class="table no-margin">
                                <thead>
                                <tr>
                                    <th style="text-align: center;">#</th>
                                    <th style="text-align: center;">Jour</th>
                                    <th style="text-align: center;">Ajouté par</th>
                                    <th style="text-align: center;">Action</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% set count = 1 %}
                                {% for item in weekend %}
                                    <tr  style="text-align: center;">
                                        <td>{{ count }}</td>
                                        <td>{{ item.day }}</td>
                                        <td>{{ item.admin.name }}</td>
                                        <td><a href="{{ path('admin_holiday_index_weekend_delete',{id:item.id}) }}">Supprimer</a></td>
                                    </tr>
                                    {% set count = count + 1 %}
                                {% endfor %}


                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.box-body -->

                    <!-- /.box-footer -->
                </div>
            </div>

        </div>
    </section>



{% endblock %}
