
{% include ('base.html.twig') %}
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
{% block body %}


<body class="tg-home tg-login">
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<!--************************************
        Preloader Start
*************************************-->

<!--************************************
        Preloader End
*************************************-->

<!--************************************
        Wrapper Start
*************************************-->
<div id="tg-wrapper" class="tg-wrapper tg-haslayout">
    {{ render(controller('AppBundle:Default:header')) }}

    <!--************************************
            Main Start
    *************************************-->
    <main id="tg-main" class="tg-main tg-haslayout">
        <div class="container">
            <div class="row">
                <div id="tg-content" class="tg-content tg-dashboard">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 pull-left">
                        <div class="tg-widgetdashboard">
                            <div class="tg-widgetprofile">
                                <figure class="tg-directpostimg">
                                    {% if vich_uploader_asset(doctor, 'imageFile') %}
                                        <a href="#">
                                            <img src="{{ vich_uploader_asset(doctor, 'imageFile') }}" alt="{{ doctor.image }}" />
                                        </a>
                                    {% else %}
                                        <a href="#">
                                            <img src="{{ asset('assets/images/thumbnails/img-20.jpg') }}" alt="image description">
                                        </a>
                                    {% endif %}
                                    {% if app.user.verifier == 1 %}
                                        <figcaption>
                                            <a class="tg-usericon tg-iconvarified" href="#">
                                                <em class="tg-usericonholder">
                                                    <i class="fa fa-shield"></i>
                                                    <span>{{ 'verified'|trans }}</span>
                                                </em>
                                            </a>
                                        </figcaption>
                                    {% endif %}
                                </figure>
                                <div class="tg-directposthead">
                                    <h3><a href="#">Dr. {{ doctor.firstName }} {{ doctor.lastName }}</a></h3>
                                    <div class="tg-subjects"></div>
                                    <ul class="tg-metadata">
                                        <li><span class="tg-stars"><span></span></span></li>
                                        <li><a href="#"><i class="fa fa-thumbs-o-up"></i> 99% (1009 votes)</a></li>
                                    </ul>
                                </div>
                                <a class="tg-btn tg-btn-lg" href="{{ path('user_profilEdit', {'doctor': app.user.idTable }) }}">{{ 'Mis à jour'|trans }}</a> </div>
                            {% include('profilDoctorNav.html.twig') %}
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-8 col-sm-8 col-xs-12 pull-right">
                        <div class="tg-dashboardinvoices">
                            <div class="tg-dashboardbox">
                                <div class="tg-dashboardboxtitle">
                                    <h2>{{ 'Invoices'|trans }}</h2>
                                </div>
                                <div class="col-lg-8">
                                    {{ render(controller('DoctorsBundle:Services:comboServicesByDoctor', {'doctor':app.user.idTable})) }}
                                </div>
                                <div class="col-lg-4">
                                    <button type="button" class="tg-btn pull-right" data-toggle="modal" data-target="#addService">{{ 'add new'|trans }}</button>
                                </div>
                                <div id="listSubServices"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!--************************************
            Main End
    *************************************-->

</div>
<div class="modal tg-modal tg-appointmentlightbox fade" id="addService" tabindex="-1" role="dialog">
    <div class="modal-dialog tg-modaldialog">
        <div class="modal-content tg-modalcontent">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
            <h2>{{ 'Add new service'|trans }}</h2>
            {{ render(controller('DoctorsBundle:Invoices:new')) }}
        </div>

    </div>
</div>
<!--************************************
        Wrapper End
*************************************-->
{% include ('default/footer.html.twig') %}
<script>
    $(document).ready(function () {
        $("#serviceDoctor").change(function () {
            var service = $('#serviceDoctor').val();
            var doctor = {{ doctor.id }};

            var URL = "{{ path('invoices_listSubServices', {'doctor' : 'sss', 'service': 'ddd'}) }}";
            URL = URL.replace(/sss/g, doctor);
            URL = URL.replace(/ddd/g, service);
            $.ajax({
                type: "GET",
                url: URL,
                cache: false,
                success: function (response) {
                    $("#listSubServices").html(response);
                    return true;
                }
            });
        });
    });
</script>
{% endblock %}
{% endif %}

