{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ 'Subservice'|trans }}</h1>

    <table>
        <tbody>
            <tr>
                <th>{{ 'Id'|trans }}</th>
                <td>{{ subService.id }}</td>
            </tr>
            <tr>
                <th>{{ 'Subservice'|trans }}</th>
                <td>{{ subService.subService }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('subservices_index') }}">{{ 'Back to the list'|trans }}</a>
        </li>
        <li>
            <a href="{{ path('subservices_edit', { 'id': subService.id }) }}">{{ 'Edit'|trans }}</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
