<div class="tg-signinsignup">
    <div class="tg-title" style="margin-left: 10%; margin-top: 10%">
        <h2>{{ 'Register Now As'|trans }}</h2>
    </div>
    <br><br>
    <div class="tg-dashboardtabs">
        <div class="tab-content tg-dashboardtabcontent">
            <div role="tabpanel" class="tab-pane active" id="overview">
                <div class="tg-searchbulder">
                    <div id="tg-subcategories" class="tg-subcategories">
                        <div id="doctorscategory" class="tg-tabcontent tg-active" style="width: 100%; margin-left: 50px">
                            <form class="tg-formtheme tg-formsigninsignup" id="formAddAppointment" action="{{ path('appointments_new', {'seance': seance.id})}}" method="post">
                                <fieldset>
                                    <div class="row tg-rowmargin">
                                        <div class="col-md-10 col-sm-12 col-xs-12 tg-columnpadding">
                                            <input type="hidden" name="appointmentsbundle_appointments[patient]" id="appointmentsbundle_appointments_patient" value="{{ app.user.id }}">
                                            <input type="hidden" name="appointmentsbundle_appointments[seance]" id="appointmentsbundle_appointments_seance" value="{{ seance.id }}">
                                        </div>
                                        <div class="col-md-10 col-sm-12 col-xs-12 tg-columnpadding">
                                            <div class="form-group tg-formgroup">
                                                <label for="">{{ 'What is the reason for your visite'|trans }} ?</label>
                                                {{ render(controller('AppointmentsBundle:Reasons:getComboReasons')) }}
                                            </div>
                                        </div>
                                        <div class="col-md-10 col-sm-12 col-xs-12 tg-columnpadding">
                                            <div class="form-group tg-formgroup">
                                                <div class="radio">
                                                    <label><input type="radio" id="appointmentsbundle_appointments_seenBefor" name="appointmentsbundle_appointments[seenBefor]" value="0">{{ 'I am a new patient'|trans }}</label>
                                                    <label><input type="radio" id="appointmentsbundle_appointments_seenBefor" name="appointmentsbundle_appointments[seenBefor]" value="1">{{ 'I have seen this doctor before'|trans }}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-10 col-sm-12 col-xs-12 tg-columnpadding">
                                        <script>

                                            </script>
                                            <div class="form-group tg-formgroup">
                                                <label for="">{{ 'Phone number where the doctor can contact you'|trans }} <span data-toggle="tooltip" title="0123456789<br>01 23 45 67 89<br>01.23.45.67.89<br>0123 45.67.89<br>0033 123-456-789<br>+33-1.23.45.67.89<br>+33 - 123 456 789<br>+33(0) 123 456 789<br>+33 (0)123 45 67 89<br>+33 (0)1 2345-6789<br>+33(0) - 123456789" data-html="true"  class="fa fa-fire-extinguisher"></span></label>
                                                {{ form_widget(form.phone, {'attr':{'class':'form-control','value':patient.gsm}}) }}
                                            </div>

                                        </div>
                                        <div class="col-md-10 col-sm-12 col-xs-12 tg-columnpadding">
                                            <div class="form-group tg-formgroup">
                                                <label for="">{{ 'Notes for the doctors office'|trans }} (optional)</label>
                                                {{ form_widget(form.note, {'attr':{'class':'form-control'}}) }}
                                                {{ form_widget(form._token) }}
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-xs-4 tg-columnpadding pull-right">
                                            <button type="submit" class="tg-btn">{{ 'Book Appointment'|trans }}</button>
                                        </div>
                                        <br><br>
                                    </div>
                                </fieldset>
                            </form>
                            <script>
                                $('[data-toggle="tooltip"]').tooltip();
                                $('#formAddAppointment').submit(function(e){
                                    var phoneno = /^(?:(?:\+|00)33[\s.-]{0,3}(?:\(0\)[\s.-]{0,3})?|0)[1-9](?:(?:[\s.-]?\d{2}){4}|\d{2}(?:[\s.-]?\d{3}){2})$/;
                                    if($('#appointmentsbundle_appointments_phone').val().match(phoneno))
                                    {
                                      $.ajax({
                                        url: "{{ path('appointments_check_seance') }}?sea={{ seance.id }}",
                                        type: "POST",
                                        async: false,
                                        success: function (result){
                                            if(result == 'false'){
                                              e.preventDefault();
                                                alert('Ce rendez-vous est déjà enregistré. Choisissez un Autre');
                                            }
                                        }
                                      });
                                    }
                                    else
                                    {
                                        alert("Le format du téléphone n'est pas correct!");
                                        e.preventDefault();
                                    }
                                })
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
