
{% include ('base.html.twig') %}
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    {% block body %}

        {#<body class="tg-home tg-login">#}
        <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div id="tg-wrapper" class="tg-wrapper tg-haslayout">
            {{ render(controller('AppBundle:Default:header')) }}

            <!--************************************
                Main Start
        *************************************-->
            <main id="tg-main" class="tg-main tg-haslayout">
                <div class="container">
                    <div class="row">
                        <div id="tg-content" class="tg-content tg-dashboard">
                            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 pull-left">
                                <div class="tg-widgetdashboard">
                                    <div class="tg-widgetprofile">
                                        <figure class="tg-directpostimg"> <a href="#"><img src="{{ asset('assets/images/thumbnails/img-20.jpg') }}" alt="image description"></a>
                                            {% if app.user.verifier == 1 %}
                                                <figcaption>
                                                    <a class="tg-usericon tg-iconvarified" href="#">
                                                        <em class="tg-usericonholder">
                                                            <i class="fa fa-shield"></i>
                                                            <span>{{ 'verified'|trans }}</span>
                                                        </em>
                                                    </a>
                                                </figcaption>
                                            {% endif %}
                                        </figure>
                                        <div class="tg-directposthead">
                                            <h3><a href="#">Dr. {{ doctor.firstName }} {{ doctor.lastName }}</a></h3>
                                            <div class="tg-subjects"></div>
                                            <ul class="tg-metadata">
                                                <li><span class="tg-stars"><span></span></span></li>
                                                <li><a href="#"><i class="fa fa-thumbs-o-up"></i> 99% (1009 votes)</a></li>
                                            </ul>
                                        </div>
                                        <a class="tg-btn tg-btn-lg" href="{{ path('user_profil', {'id': app.user.id }) }}">{{ 'Profile'|trans }}</a> </div>
                                    {% include('profilDoctorNav.html.twig') %}
                                </div>
                            </div>
                            <div class="col-lg-9 col-md-8 col-sm-8 col-xs-12 pull-right">
                            
                                <h4>Unblock a weekend day</h4>
                                {% if add == true %}
                                <div class="alert alert-success">
                                    <label>New day has been added successfully.</label>
                                </div>
                                {% endif %}
                                <div class="col-sm-offset-4 col-sm-4">
                                    <form id="dayform" action="" method="post">
                                        <div class="form-group">
                                            <label>Select Date</label>
                                            <input type="date" id="date" onchange="checkdate(this.value)" class="form-control" name="date" />
                                        </div>
                                        <div style="text-align: center">
                                            <p id="msg"></p>
                                        </div>
                                        <input disabled='' id='submit' style="margin-top: 20px" type="submit" class="btn btn-info btn-block">
                                    </form>
                                    <script>
                                        function checkdate(value){
                                            $('#submit').attr('disabled',"disabled");
                                            $('#msg').html("Please Wait...");
                                            $.ajax({
                                                url: '{{ path('holiday_weekend_getdetailofselecteddate') }}?date='+value,
                                                type: 'POST',
                                                success: function(result){
                                                    if(result == "true"){
                                                        $('#msg').html("Click submit to Unblock this weekend day!");
                                                        $('#submit').removeAttr('disabled');
                                                    }else if(result == "found"){
                                                        $('#msg').html("This already Unblocked");
                                            
                                                    }else if(result == "false"){
                                                       $('#msg').html("This day is not in weekend"); 
                                                    }
                                
                                                }
                                            });
                                        }
                                        $('#dayform').submit(function(e){
                                            if($('#date').val() == ""){
                                                e.preventDefault();
                                            }
                                        });
                                    </script>

                                </div>
                                <div style="margin-top: 10px">
                                    <table>
                                        <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for item in days %}
                                            <tr>
                                                <td>{{ item.date|date('d-m-Y') }}</td>
                                                <td><a href="{{ path('holiday_weekend_unblock_delete',{id:item.id}) }}">Delete</a></td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        </main>


        {% include ('default/footer.html.twig') %}
    {% endblock %}
{% endif %}